/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  margin: 0;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #222;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

/* Layout */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  width: 980px;
  height: 500px;
}
.heading {
  text-align: center;
}
.heading span {
  color: #9E7356;
  font-size: 20px;
  font-weight: bolder;
}
.heading h1 {
  font-size: 36px;
  margin-top: 10px;
}
.heading h1 em {
  font-style: normal;
  position: relative;
}
.heading h1 em:after {
  position: absolute;
  content: url(images/logo-kakao.png);
  right: -10px;
  top:-27px;
}
.content {}
.content > div {
  width: 50%;
  float: left;
  height: 400px;
  box-sizing: border-box;
}
.accordion {}
.title {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 15px;
  transition: 0.3s;
  margin-bottom: 10px;
}
.title:after {
  content: '\f105';
  font-family: fontawesome;
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  transition: 0.3s;
}
.title.active:after {
  transform: rotate(90deg);
  color: #F9E3C7;
}
.title:hover,
.title.active {
  background-color: #734F2E;
  color: #fff;
}
.image {
  text-align: right;
}
.image img {
  height: 350px;
  box-shadow: 10px 5px 5px #F7F7E5;
}
.desc {
  padding: 15px;
  display: none;
}
.desc.active {
  display: block;
}
